@import url("https://fonts.googleapis.com/css?family=Poppins:regular,bold");
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,bold,light");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
  color: white;
}
a,
a:visited,
a:focus {
  color: inherit;
  text-decoration: inherit;
}
.view a {
  color: #ffb100;
}
.c {
  text-align: center;
}
.l {
  text-align: left;
}
.no-p {
  padding: 0px;
}
.d-ib {
  display: inline-block;
}
p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
p.s {
  font-size: 1rem;
  line-height: 1.4rem;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
}
.view > div:first-of-type {
  width: 100%;
  padding: 0px 0px 100px 0px;
}

section {
  padding: 30px 0px;
}

.logo {
  margin: 0px;
  font-weight: bold !important;
  font-family: "Poppins";
}
.logo img {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  margin-right: 10px;
}
.logo span {
  font-weight: 100;
}
nav {
  background: transparent;
  text-align: right;
  padding: 20px 0px;

  width: 100%;
}
nav .logo {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-top: 25px;
}
nav .logo img {
  height: 40px;
}
nav ul {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0px;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}
nav ul li:first-child {
  margin-left: 0px;
}
nav ul li a {
  position: relative;
}
nav ul li a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffb100;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
nav ul li a.active:after,
nav ul li a:hover:after {
  transform: scaleX(1);
}
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-align: center;
  font-size: 1rem;
}
.page {
  font-size: 1.5rem;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.page.i {
  background: white;
  color: black;
}
.bgd {
  position: relative;
  overflow: hidden;
}
.page.home {
  height: 100vh;
}
.bgd .bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  background: url(/static/bg.jpg) no-repeat;
  /* background: url(https://wallpaper-gallery.net/images/grey-abstract-wallpaper/grey-abstract-wallpaper-5.jpg)
    no-repeat; */
  /* background: url(http://coralreefchapel.com/wp-content/uploads/2018/07/dark-colors-wallpaper-stylish-color-72-images-with-16.jpg)
    no-repeat; */

  background-size: cover;
  background-position: 50%;
  z-index: -1;
  opacity: 0.2;
  -webkit-animation: deblur 1s ease 0.1s normal both;
  animation: deblur 1s ease 0.1s normal both;
}

.view {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view h1,
.view h2 {
  margin: 5px 0px;
}

section h1 {
  font-size: 3rem;
}

section h2 {
  font-size: 2rem;
}

.view h2 {
  font-weight: 400;
}
.c p {
  margin: auto;
}
.view p {
  margin-top: 30px;
}
.msg {
  padding: 15px 0px;
}
.msg p {
  font-size: 1rem;
}
footer {
  flex-shrink: 0;
}
footer h1 {
  text-align: center;
}

footer .logo {
  font-size: 18px;
  opacity: 0.2;
  padding: 25px 0px;
}
footer .logo img {
  height: 30px;
}
.msg .r,
.msg .l {
  display: inline-block;
  vertical-align: middle;
}
.msg .l {
  width: 85%;
}
.msg .r {
  width: 15%;
  text-align: right;
}
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.team-member {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  text-align: center;
}
.team-member h3 {
  font-weight: 200;
  margin-bottom: 5px;
}

.team-member h3 span {
  font-weight: bold;
}

.team-member p {
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 20px 20px;
}
.team-member img {
  border-radius: 50%;
  background: black;
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
}
.team-member h4 {
  font-weight: 600;
  margin: 0px;
  opacity: 0.5;
  font-size: 1rem;
}

.portfolio {
  width: 100%;
}
.portfolio .category {
  margin: 60px 0px;
}
.portfolio .category img {
  vertical-align: middle;
  display: inline-block;
  margin: 0px 30px 30px 0px;
}
.portfolio h3 {
  margin: 0px;
}
.portfolio h4 {
  margin: 5px 0px 0px;
  font-weight: 300;
  font-size: 1rem;
}
.portfolio p {
  max-width: 100%;
}

.skillset {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 60px;
  width: 50%;
}
.skillset h3 {
  margin-top: 0px;
  font-size: 1.5rem;
}
.skillbar {
  display: block;
}
.skillbar .skill {
  display: inline-block;
  vertical-align: middle;
  width: 23%;
  font-size: 0.8rem;
}

.skillbar .experience {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 60%;
  height: 1px;
  background: rgba(0, 0, 0, 0.8);
}

.skillbar .experience div {
  position: absolute;
  left: 0px;
  height: 100%;
  top: 0px;
  width: 0px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
  max-width: 0px;
  background: #ffb100;
}

@-webkit-keyframes slide {
  0% {
    width: 0px;
    max-width: none;
  }
  100% {
    width: inherit !important;
    max-width: none;
  }
}

@keyframes slide {
  0% {
    width: 0px;
    max-width: none;
  }
  100% {
    width: inherit !important;
    max-width: none;
  }
}

.proposal .project {
  margin: 40px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  font-size: 1rem;
  line-height: 1.4rem;
}

.proposal .project div {
  margin-bottom: 20px;
}
.proposal .project ul li {
  margin-top: 8px;
}
.proposal .project ul li ul li {
  margin-top: 3px;
}
.proposal .project:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}
.proposal h1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  margin-top: 20px;
}
.proposal h2 {
  font-size: 1.5rem;
}
.proposal h3 {
  font-size: 1.4rem;
  margin: 0px 0px 5px 0px;
}
.proposal .estimates {
  float: right;
  font-weight: bold;
}
.proposal .estimates span {
  font-weight: 400;
}
.proposal h4 {
  opacity: 0.5;
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
}
.proposal h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.proposal p {
  max-width: 100%;
}
.proposal nav ul li span {
  float: right;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
  opacity: 0.4;
}
.proposal nav,
.proposal footer {
  background: linear-gradient(to left, #2e2e2e, #595959);
  color: white;
  position: static;
}

@-webkit-keyframes deblur {
  0% {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes deblur {
  0% {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 992px) {
  .msg .l {
    width: 70%;
  }
  .msg .r {
    width: 30%;
    text-align: right;
  }
}

@media (max-width: 768px) {
  section {
    padding: 15px 0px;
  }
  nav {
    position: static;
  }
  nav ul li {
    letter-spacing: 0.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin: 0px 7px;
  }
  nav ul li:first-child {
    display: none;
  }
  .proposal nav ul li:first-child {
    display: inline-block;
  }
  .team-member {
    width: 50%;
    margin-bottom: 60px;
  }
  .msg .l {
    width: 64%;
  }
  .msg .r {
    width: 30%;
    text-align: right;
  }
  .proposal .estimates {
    display: block;
    text-align: left;
    width: 100%;
    margin: 20px 0px 30px 0px;
  }
  .skillset {
    width: 100%;
  }
  .skillbar .experience {
    width: 77%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }

  nav {
    text-align: center;
  }
  nav .logo {
    display: block;
    float: none;
    margin: 0px;
  }
  nav .logo img {
    margin: 0px;
  }
  nav ul {
    display: block;
    text-align: center;
  }
  nav ul li {
    margin: 0px 7px !important;
    padding: 0px;
    letter-spacing: 0.2rem;
  }

  .view h2 {
    font-size: 1.1rem;
  }
  .home .view h1 {
    font-size: 2rem;
    text-align: center;
  }
  .home .view h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .team-member {
    width: 100%;
    margin-bottom: 100px;
  }
  .msg .l {
    width: 100%;
  }
  .msg .r {
    width: 100%;
    text-align: center;
  }
  .msg .btn {
    width: 100%;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 321px) {
  nav ul li {
    margin: 0px 5px !important;
    padding: 0px;
    letter-spacing: 0.15rem;
  }
  .msg {
    display: none;
  }
  h1.logo {
    font-size: 1.7rem !important;
  }
}

@media (max-height: 700px) and (min-width: 480px) {
  nav {
    position: static;
  }
}
